<section id="tools">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h3>Install the Tools</h3>
        <h5>
          Before you begin, you'll need to install some programs and open a few accounts to help with your coding.  These are the tools many developers use on a regular basis.  If you encounter problems along the way, our mentors will be happy to assist you before or during a Coding &amp; Cocktails session.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-light" href="http://bit.ly/CnCTheTools" target="_blank">Click here</a>
      </div>
    </div>
  </div>
</section>
