<section id="code">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6" *ngFor="let tool of tools">
            <a href="{{tool.url}}" target="_blank">
              <img src="{{tool.img}}" alt="{{tool.name}}" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <h4>The Code</h4>
        <h5>
          You've seen the paint &amp; wine classes, now it's time to get
          techy and learn web development basics over trendy cocktails.
        </h5>
        <h5>
          The first thing to know is <em>no prior programming experience is
          required!</em> We can say that because we have plenty of mentors on hand to
          help you through the tough parts, no matter what session you sign up for.
        </h5>
        <h5>
          As an intro to programming, you'll get an overview of how sites
          are built for the web, from basic HTML structure to handling user interaction with
          JavaScript. <!--You will learn about version control and how to collaborate with
          other developers using <a href="http://github.com" target="_blank"><b>GitHub</b></a>.-->
          We like to think of the curriculum as the <i>essential front-end developer tool kit</i>.
        </h5>
        <h5>
          Once you've hit the
          <a href="http://xkcd.com/323/" target="_blank"><b>Ballmer Peak</b></a>
          courtesy of custom crafted cocktails, it's to infinity and beyond in
          writing code and learning to mentor others.
        </h5>
      </div>
    </div>
  </div>
</section>
