<section id="tools">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h3>Install the Tools</h3>
        <h5>
          Before you begin, you'll need to install some programs and open a few accounts to help with your coding.  These are the tools many developers use on a regular basis.  If you encounter problems along the way, our mentors will be happy to assist you before or during a Coding &amp; Cocktails session.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-light" href="http://bit.ly/CnCTheTools" target="_blank">Click here</a>
      </div>
    </div>
  </div>
</section>
<section id="list">
  <div class="list">
    <h3>Monthly Slides &amp; Worksheets</h3>
    <table class="tocTable">
      <tr *ngFor="let session of sessions">
          <td style="text-align: left;">{{session.date | date:'LLLL'}}: {{session.sessionName}}</td>
          <ng-template [ngIf]="!session.areSessionLinksEnabled" [ngIfElse]="available">
              <td><font style="color: #999">slides</font></td>
              <td><font style="color: #999">worksheet</font></td>
          </ng-template>

          <ng-template #available>
              <td><a href="{{session.slidesLink}}" class="listlink" target="_blank">slides</a></td>
              <td><a href="{{session.worksheetLink}}" class="listlink" target="_blank">worksheet</a></td>
          </ng-template>
      </tr>
    </table>
  </div>
</section>
<section id="resources">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h3>More Resources</h3>
        <h5>
          Getting started can feel overwhelming because there is so much information (and so many opinions) out there.  Coding &amp; Cocktails mentors can help point you in the right direction.  We're often asked for free and reputable online learning resources, so we maintain a list.  Click the button below to see it.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-light" href="https://github.com/KansasCityWomeninTechnology/LearningResources/blob/master/LearningResources.md" target="_blank">Click here</a>
      </div>
    </div>
  </div>
</section>