<section id="tools">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h3>Install the Tools</h3>
        <h5>
          Before you begin, you'll need to install some programs and open a few accounts to help with your coding.  These are the tools many developers use on a regular basis.  If you encounter problems along the way, our mentors will be happy to assist you before or during a Coding &amp; Cocktails session.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-light" href="http://bit.ly/CnCTheTools" target="_blank">Click here</a>
      </div>
    </div>
  </div>
</section>
<section id="list">
  <div class="list">
    <h3>Monthly Slides &amp; Worksheets</h3>
    <table class="tocTable">
      <tr>
        <td style="text-align: left;">January: HTML</td>
        <td><a href="http://bit.ly/CnCJanSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCJanWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td style="text-align: left;">February: CSS</td>
        <td><a href="http://bit.ly/CnCFebSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCFebWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td style="text-align: left;">March: Command Line</td>
        <td><a href="http://bit.ly/CnCMarSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCMarWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td style="text-align: left;">April: Version Control</td>
        <td><a href="http://bit.ly/CnCAprSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCAprWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td style="text-align: left;">May: Front-end Architecture</td>
        <td><a href="http://bit.ly/CnCMaySlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCMayWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td style="text-align: left;">June: Intro to JavaScript</td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">July: A deeper dive into Javascript</td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">August: Intro to Package Managers</td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">September: NodeJS &amp; APIs</td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">October: Single Page Applications</td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">November: Micro-Hackathon</td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
    </table>
  </div>
</section>
<section id="resources">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h3>More Resources</h3>
        <h5>
          Getting started can feel overwhelming because there is so much information (and so many opinions) out there.  Coding &amp; Cocktails mentors can help point you in the right direction.  We're often asked for free and reputable online learning resources, so we maintain a list.  Click the button below to see it.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-light" href="https://github.com/KansasCityWomeninTechnology/LearningResources/blob/master/LearningResources.md" target="_blank">Click here</a>
      </div>
    </div>
  </div>
</section>