// Colors
$white: #ffffff;
$dark-purple: #484e78;
$light-purple: #666b8f;
$plum: #9d81a2;
$light-plum: #ba99c0;
$light-olive: #d0c675;
$dark-olive: #beb66d;
$teal: #009875;

// Fonts
$font-stack: 'Lato', sans-serif;