/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,400,700,900');
@import './variables';
@import './typography';

body {
    font-family: $font-family-sans-serif;
    color: $white;
}

.btn {
    margin: .5em 0;
}