<section id="cocktails">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h4>The Cocktails</h4>
        <h5>We couldn't be more excited to partner with bartender Laura Wagner of Logistics &amp; Libations. She brings the freshest local ingredients together with liquors from local vendors to create a custom cocktail menu to get your code on to.</h5>
        <h5>We encourage everyone to drink responsibly and allow ample time to descend from the <a href="https://xkcd.com/323/" target="_blank"><b>Ballmer Peak</b></a>. In addition to cocktails, we offer custom crafted non-alcoholic drinks and encourage the use of ride-share programs (such as Uber or Lyft) or taxis when needed.</h5>
      </div>
      <div class="col-sm-5 align-self-center">
        <div class="cocktails"></div>
      </div>
    </div>
  </div>
</section>
