<section id="resources">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h3>More Resources</h3>
        <h5>
          Getting started can feel overwhelming because there is so much information (and so many opinions) out there.  Coding &amp; Cocktails mentors can help point you in the right direction.  We're often asked for free and reputable online learning resources, so we maintain a list.  Click the button below to see it.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-light" href="https://github.com/KansasCityWomeninTechnology/LearningResources/blob/master/LearningResources.md" target="_blank">Click here</a>
      </div>
    </div>
  </div>
</section>
