@import 'variables';
@import 'typography';

// Global styles
section {
    min-height: 600px;
    img {
        width: 100%;
    }
}

// Section specific styles
#code {
    background: $dark-olive;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $light-olive;
    border-bottom: solid 10px $light-olive;
    img {
        margin-top: 20px;
    }
    a {
        color: #484e78;
    }
}

#cocktails {
    background: $plum;
    text-align: center;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $light-plum;
    border-bottom: solid 10px $light-plum;
    img {
        width: auto;
    }
    a {
        color: #484e78;
    }
    .cocktails {
        display: block;
        height: 210px;
        width: 310px;
        border: solid 5px #fff;
        margin: 20px auto;
        background: url(/assets/images/libations.jpg) no-repeat 0px 0px;
        background-size: contain;
    }
}

#mentors {
    background: $light-purple;
    text-align: center;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $dark-purple;
    border-bottom: solid 10px $dark-purple;
    .mentor {
        a {
            text-decoration: none;
            color:$white;
            display: block;
            overflow: hidden;
            img {
               width: 50%;
            }
        }
    }

    // This helps make the last two people center better when the full team
    // is present on the site
    // @media only screen and (min-width : 575px) {
    //     .leader:nth-last-child(2) {
    //         margin-left: 18%;
    //     }
    // }

    h6 {
        margin-top: 20px;
    }
}

#signup {
    background: $dark-olive;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $light-olive;
    border-bottom: solid 10px $light-olive;
    text-align: center;
    ul {
        margin: 0px;
        padding: 0px;
    }

    .host {
       display: inline-block;
       margin: 10px auto;
    }

    a {
      color: $dark-purple;
    }

    #hosting-venue {
        margin-bottom: 0;
    }

    iframe {
        margin-top: 1.1em;
    }

    app-map {
        height: 300px;
    }
}
