<section id="code">
  <div class="container">
    <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6" *ngFor="let tool of tools">
              <a href="{{tool.url}}" target="_blank">
                <img src="{{tool.img}}" alt="{{tool.name}}" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <h4>The Code</h4>
          <h5>
            You've seen the paint &amp; wine classes, now it's time to get
            techy and learn web development basics over trendy cocktails.
          </h5>
          <h5>
            The first thing to know is <em>no prior programming experience is
            required!</em> We can say that because we have plenty of mentors on hand to
            help you through the tough parts, no matter what session you sign up for.
          </h5>
          <h5>
            As an intro to programming, you'll get an overview of how sites
            are built for the web, from basic HTML structure to handling user interaction with
            JavaScript. You will learn about version control and how to collaborate with
            other developers using <a href="http://github.com" target="_blank"><b>GitHub</b></a>.
            We like to think of the curriculum as the <i>essential front-end developer tool kit</i>.
          </h5>
          <h5>
            Once you've hit the
            <a href="http://xkcd.com/323/" target="_blank"><b>Ballmer Peak</b></a>
            courtesy of custom crafted cocktails, it's to infinity and beyond in
            writing code and learning to mentor others.
          </h5>
        </div>
    </div>
  </div>
</section>
<section id="cocktails">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h4>The Cocktails</h4>
        <h5>We couldn't be more excited to partner with bartender Laura Wagner of Logistics &amp; Libations. She brings the freshest local ingredients together with liquors from local vendors to create a custom cocktail menu to get your code on to.</h5>
        <h5>We encourage everyone to drink responsibly and allow ample time to descend from the <a href="http://xkcd.com/323/" target="_blank"><b>Ballmer Peak</b></a>. In addition to cocktails, we offer custom crafted non-alcoholic drinks and encourage the use of ride-share programs (such as Uber or Lyft) or taxis when needed.</h5>
      </div>
      <div class="col-sm-5 align-self-center">
          <div class="cocktails"></div>
      </div>
    </div>
  </div>
</section>
<section id="mentors">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h4>The Mentors</h4>
        <h5>As a woman, learning to program can be intimidating! We've recruited fantastic female mentors to create a welcoming learning environment and answer those questions you may be too scared to ask! </h5>
        <h5>These ladies write code for their day job and can't wait to help you get started. They're kind of like super heroes, with great taste!</h5>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row margin-bottom" >
      <div class="col-sm-4 mentor leader" *ngFor="let leader of leaders">
        <a href="http://www.twitter.com/{{leader.twitter}}" target="_blank">
          <img class="rounded-circle" src="{{leader.img}}" alt="{{leader.name}}"/>
          <h6>{{leader.name}}</h6>
          <p>{{leader.title}}</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 mentor" *ngFor="let mentor of mentors">
        <a href="http://www.twitter.com/{{mentor.twitter}}" target="_blank">
          <img class="rounded-circle" src="{{mentor.img}}" alt="{{mentor.name}}"/>
          <h6>{{mentor.name}}</h6>
          <p>{{mentor.title}}</p>
        </a>
      </div>
    </div>
    <div>
      <h1>Interested in Mentoring? Sign up here.</h1>
      <app-mentor-form></app-mentor-form>
    </div>
  </div>
</section>
<section id="signup">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h4>Sign Up!</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-5 map">
              <h5 id="hosting-venue">Proudly hosted by {{venue.name}}</h5>
              <a href="{{venue.url}}" target="_blank" class="host">
                  <img src="{{venue.img}}" alt="{{venue.name}}">
              </a>
              <p>{{venue.address}}</p>
              <app-map [defaultPosition]="{lat: venue.lat, lng: venue.lng}" [defaultZoom]="zm">
                <app-marker [position]="{lat: venue.lat, lng: venue.lng}" [animation]="'DROP'"></app-marker>
              </app-map>
          </div>
          <div class="col-sm-7 align-self-center">
              <h5>Upcoming Session: <br>{{upcomingSession.date | date:'fullDate'}}, {{upcomingSession.time}}
              <br />{{upcomingSession.name}}</h5>
              <p>Note: wifi-enabled laptops are required to attend!</p>
              <div style="width:100%; text-align:left;"><iframe [attr.src]="upcomingSessionTicketLink" frameborder="0" height="325" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" title="Sign Up Form"></iframe></div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
             <h5>{{sessions[0].date | date: 'y'}} Sessions</h5>

             <p>If the event is not yet available for sign ups, you will be directed to the Coding &amp; Cocktails Eventbrite page.</p>
             <ul class="list-unstyled" *ngFor="let session of sessions">
                  <li><b>{{session.date | date:'MMMM d'}}th</b> - <a href="{{session.eventbriteLink}}" target="_blank">{{session.name}}</a></li>
             </ul>
          </div>
      </div>
      <!-- Temporary - This will go away so for easier removal is all hardcoded here -->
      <div class="row" style="margin-top:2em;">
        <div class="col-sm-12">
           <h5>2020 Sessions</h5>
           <ul class="list-unstyled">
              <li>January 11</li>
              <li>February 8</li>
              <li>March 14</li>
              <li>April 11</li>
              <li>May 9</li>
              <li>June 13</li>
              <li>July 11</li>
              <li>August 8</li>
              <li>September 12</li>
              <li>October 10</li>
              <li>November 14</li>
           </ul>
        </div>
    </div>
  </div>
</section>
