<section id="scholarship">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h1>Financial Aid</h1>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12">
          <a href="http://kcwomenintech.org">
            <img class="img-fluid mx-auto d-block" src="../assets/images/logos/kcwit_logo_white.png" alt="Kansas City Women in Technology">
          </a>
        </div>
      </div> -->
      <div class="row">
        <h2>Monthly Kansas City Women in Technology Scholarship</h2>
        <p>Kansas City Women in Technology is working hard to lower barriers for women getting into technology. We know cost can be a factor so we offer five (5) KCWiT scholarships each month for attendees who face income challenges. </p>
        <p>Applications will be ranked by demonstration of the following criteria each month to determine selection*:</p>
        <ul>
          <li>Financial need</li>
          <li>Reason for attending</li>
          <li>Commitment to ongoing learning</li>
          <li>Willingness to help others with skills gained</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
          <a href="https://goo.gl/forms/IaX73Lm6P6U2TsZ92" class="btn btn-primary btn-lg center-block" target="_blank">Click Here to Apply</a>
        </div>
        <div class="col-5"></div>
      </div>
      <div class="row">
        <h6>*Those approved for financial aid scholarships that fail to comply with requirements will be marked as ineligible for any scholarship funds for a six-month period. Requirements include but are not limited to attending the session.</h6>
      </div>
    </div>
  </section>
  